*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}
.side-bar {
  padding: 1rem;
  width: 18%;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.side-bar h1 {
  border-radius: 8px;
  display: inline-block;
  padding: 0.5rem 2rem;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  color: black;
  font-size: 1.5rem;

}
.side-bar h1:hover{
  cursor: pointer;
}
.side-bar ul li {
    list-style-type: none;
    padding: 0.5rem 1rem;
    margin: 2rem 0;
}
.side-bar a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}
.side-bar a:hover {
  color: darkgray;
}
.content-screen {
  flex: 1;
  background-color: rgb(28, 25, 25);
  color: white;
 padding: 1rem;
}